button {
  font-family: Open Sans, sans-serif;
  font-size: 1rem;
  color: #fff;
  background-color: $dark-blue;
  border: 1px solid $dark-blue;

  &:hover, &:active {
    background-color: lighten($dark-blue, 5%);
  }

  &.delete {
    background-color: transparent;
    border-color: $dark-red;
    color: $dark-red;
    svg { path { fill: $dark-red; }
    }

    &:hover {
      background-color: $dark-red;
      color: #fff;
      svg { path { fill: #fff; } }
    }
  }

  &.primary {
    // main button
  }

  &.secondary {
    background-color: transparent;
    color: $dark-blue;

    &:hover {
      background-color: $dark-blue;
      color: #fff;
      svg { path { fill: #fff; } }
    }
  }
}

header {

  button, a.button {
    display: inline-block;
    padding: 0.4rem 0 0.3rem;
    width: 3rem;
    border: 1px solid $dark-grey-2;
    border-radius: 0.2em;
    background-color: #fff;
    color: $dark-grey-2;
    text-align: center;
    text-transform: uppercase;

    svg {
      height: 1rem;
      path { fill: $dark-grey-2; }
    }

    &:hover {
      background-color: $dark-grey-2;
      color: #fff;

      svg {
        path {
          fill: #fff;
        }
      }
    }

    &:disabled:not(.active),
    &:disabled:not(.active):hover {
      border-color: $dark-grey-3;
      background-color: #fff;
      color: $dark-grey-3;

      svg {
        path {
          fill: $dark-grey-3;
        }
      }
    }

    &.active {
      border-color: lighten($dark-grey-2, 10%);
      background-color: lighten($dark-grey-2, 10%);
      color: lighten($dark-grey-2, 10%);

      svg { path { fill: #fff; } }
    }
  }

  button + button,
  button + .button,
  .button + .button,
  button + .button-group,
  .button + .button-group,
  .button-group + button,
  .button-group + .button-group {
    margin-left: 0.5rem;
  }

  .button-group {
    position: relative;
    display: inline-flex;
    flex-direction: row;

    button {
      position: relative;
      margin-right: 0;
      flex: 0 1 auto;

      &:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    button + button {
      margin-left: -1px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

}

main section.content {
  button {
    font-size: 0.86rem;
    padding: 0.4rem 1rem;
    border-radius: 3px;
  }

  button + button {
    margin-left: 0.5rem;
  }
}
