$dark-grey-1: #2a3743;
$dark-grey-2: #344453;
$dark-grey-3: #aaa;
$light-grey-1: #b5c3d1;
$light-grey-2: #ececec;
$dark-red: #8b0000;
$dark-blue: #0067c7;

body {
  background-color: #fff;
  transition: background-color 0.2s linear;
}

#app-container {
  background-color: #fff;

  > aside {
    background-color: $dark-grey-1;
    color: $light-grey-1;

    a {
      color: $light-grey-1;
      text-decoration: none;
      &:hover {
        color: #fff;
      }
    }
  }

  > main {
    background-color: #fff;

    > header {
      a:link,
      a:visited {
        color: $dark-grey-3;
      }
      a:hover {
        color: $dark-grey-1;
      }
    }
  }

  &.disconnected main {
    background-color: $light-grey-2;
  }
}
